In [1]:
import sqlite3
conn=sqlite3.connect('lab3.db')
c=conn.cursor()

c.execute("select*from course")
items=c.fetchall()
print(items)

conn.commit()

[('01', 'History', '02'), ('02', 'Calculus', '01'), ('03', 'CS-I', '03')]

In [4]:
#Question 1
c.execute("select sid from grade where score > 80 and score < 90") 
items=c.fetchall()
print(items)

conn.commit()

[('05',), ('07',)]

In [5]:
#Question 2
c.execute("select sname, MAX(score) from student inner join grade on grade.sid=student.sid inner join course on course.cid= grade.cid where cname='History'")
items=c.fetchall()
print(items)

conn.commit()

[('Peter', 80)]

In [19]:
#Question 3
c.execute("select sname, AVG(score) , grade.cid from student inner join grade on grade.sid=student.sid inner join course on course.cid = grade.cid group by grade.sid having AVG(score) > 70")
items=c.fetchall() 
print(items)

conn.commit()

[('Peter', 89.66666666666667, '01'), ('Lee', 80.0, '01'), ('Eda', 81.5, '01'), ('Silas', 93.5, '02')]

In [29]:
#Question 4
c.execute("select sname, pname from student left join grade on grade.sid=student.sid left join course on course.cid = grade.cid left join instructor on instructor.pid = course.pid where pname <> 'Everett'")
items=c.fetchall() 
print(items)

conn.commit()

[('Peter', 'Miles'), ('Peter', 'June'), ('Sam', 'Miles'), ('Sam', 'June'), ('Lee', 'Miles'), ('Lee', 'June'), ('June', 'Miles'), ('June', 'June'), ('Eda', 'Miles'), ('Eloise', 'Miles'), ('Eloise', 'June'), ('Silas', 'June')]

In [34]:
#Question 5
c.execute("select sname, score from student inner join grade on grade.sid = student.sid inner join course on course.cid = grade.cid where cname = 'Calculus' and score >=(select MAX(score) from grade inner join course on course.cid = grade.cid where cname = 'History') order by score desc ")
items=c.fetchall() 
print(items)

conn.commit()

[('Peter', 90), ('Silas', 89), ('Eda', 87), ('Lee', 80)]

In [7]:
#Question 6
c.execute("select distinct sname from student left join grade on grade.sid = student.sid where cid is null ")
items=c.fetchall() 
print(items)

conn.commit()

[('Hazel',), ('Oscar',), ('Royal',), ('Lucy',)]

In [11]:
#Question 7
c.execute("select sgender, AVG(score) from student inner join grade on grade.sid = student.sid group by sgender")
items=c.fetchall() 
print(items)

conn.commit()

[('F', 69.16666666666667), ('M', 68.25)]

In [14]:
#Question 8
c.execute("select cname, count(student.sid) from course inner join grade on grade.cid = course.cid inner join student on student.sid = grade.sid group by cname")
items=c.fetchall() 
print(items)

conn.commit()

[('CS-I', 6), ('Calculus', 6), ('History', 6)]

In [2]:
#Question 9
c.execute("select g.sid from grade g where g.score > (select AVG(score) from grade where g.cid = cid) group by g.cid")
items=c.fetchall() 
print(items)

conn.commit()

[('01',), ('01',), ('01',)]

In [10]:
#Question 10
ALTER TABLE Student ADD GPA DECIMAL(3.1);

UPDATE Student
SET GPA = CASE
            WHEN score >= 90 THEN 4.0
            WHEN score >= 87 THEN 3.7
            WHEN score >= 83 THEN 3.3

            WHEN score >= 80 THEN 3.0
            WHEN score >= 77 THEN 2.7
            WHEN score >= 70 THEN 2.0
            WHEN score <= 70 AND score > 60 THEN 1.0
            ELSE 0.0

SyntaxError: invalid syntax (1380948709.py, line 2)